<style>
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {
	margin:0;
	padding:0;
}
body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 24px;
  line-height: 24px;
}
body > header, body > main, body > footer {
  margin: 0 auto;
  max-width: 80%;
}
body > footer {
  border-top: 1px solid black;
  font-size: 16px;
  margin: 100px auto;
}
body > header {
  font-size: 16px;
}
.post-list {
  list-style: none;
}
.social-media-list {
  list-style: none;
}
.social-media-list li {
  display: inline;
  margin-left: 20px;
}
.social-media-list li:first-child {
  margin-left: 0;
}
.social-media-list svg {
  height: 1.5rem;
  width: 1.5rem;
}
.social-media-list .github svg {
  fill: #000000;
}
.social-media-list .rss svg {
  fill: #ffa500;
}
.social-media-list .twitter svg {
  fill: #1da1f2;
}
h1 {
	font-size: 1.5em;
	line-height: 1em;
	margin-top: 1.929em;
	margin-bottom: 0.643em;
}
h2 {
	font-size:1.1667em;
	line-height: 1.286em;
	margin-top: 1.929em;
	margin-bottom: 0.643em;
}
p {
  font-size: 1em;
  line-height: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
</style>